$color-grey-25: #fcfcfd;
$color-grey-50: #f9fafb;
$color-grey-100: #f2f4f7;
$color-grey-200: #eaecf0;
$color-grey-300: #d0d5dd;
$color-grey-400: #98a2b3;
$color-grey-500: #667085;
$color-grey-600: #475467;
$color-grey-700: #344054;
$color-grey-800: #1d2939;
$color-grey-900: #101828;
$color-grey-950: #0c111d;

$color-error-25: #fffbfa;
$color-error-50: #fef3f2;
$color-error-100: #fee4e2;
$color-error-200: #fecdca;
$color-error-300: #fda29b;
$color-error-400: #f97066;
$color-error-500: #f04438;
$color-error-600: #d92d20;
$color-error-700: #b42318;
$color-error-800: #912018;
$color-error-900: #7a271a;
$color-error-950: #55160c;

$color-primary-500: #336e6b;
